.armor-bar__wrapper {
    grid-column: 1 / 3;
    width: 100%;
    background-color: #eee;
    border: 2px solid black;
    height: 10px;
}

.armor-bar {
    height: 100%;
    background-color: green;
    width: 100%;
    transition: width 0.2s ease-in;
}
